body{
    font-family: 'Poppins', sans-serif;
}
.mission-colar{
    color: fuchsia;
}
h1{
    font-size: 40px;
}
.ection{
    display: flex;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}
.helf{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.helf img{
    width: 70%;
    padding-right: 2%;
    padding-left: 7%;
    
}
.Explore-Now{
    text-decoration:none;
    padding: 10px 40px;
    border-radius: 6px;
    background-image: linear-gradient(red, blue) ;
    color: white;
    font-weight: 900;
}
.footer-margin{
    padding-top: 10%;
}
.mission{
    text-align: center;
}
.tinrong{
    background-color: thistle;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 5%;
    margin-left: 2%;
    
}
.tinrong1{
    background-color: wheat;
    padding-right: 25px ;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 5%;
    margin-left: 2%;
    
}
.tinrong2{
    background-color: yellow;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 5%;
    margin-left: 2%;
}
.maja{
text-align: center;
padding-bottom: 2%;
}

.bosamaya{
    display: flex;
    width: 100%;
    padding-right: 10%;
    
}
.bosamaya img{
    width: 80%;
    margin-left: 5%;
    padding-left: 5%;
    margin-left: 10%;
}
.bampas{
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 5%;
}
.coto{
    font-size: 30px;
}
.read{
    text-decoration: none;
    background-image:linear-gradient(red, blue);
    padding: 10px 20px;
    color: white;
    border-radius: 5%;
}
.ection-3{
    display: flex;
    width: 70%;
    margin-top: 5%;
    margin-left: 6%;
    margin-bottom: 10%;
}
.ection-3 img{
    width: 100%;
    padding-right: 2%;
    padding-left: 15%;
    margin-left: 10%;
}
.texr{
    text-align: center;
}
.ection-4{
    display: flex;
    padding-left:15%;
    padding-right: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
}
.ection-4 img{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}
#lest{
    background-color: black;
    color: white;
}
.jake{
    text-align: center;
    padding-bottom;
}